@{
    ViewData["Title"] = "Cars Catalog";
    

}
@section Styles{
<link href="~/css/catalog.css" rel="stylesheet">
}

@section Scripts{
<script src="~/js/catalog.js"></script>
}
 



<h1> This will be the catalog </h1>


